h1.ui.title.header {
    font-size: 4em !important;
    font-weight: normal;
}

h2.ui.title.header {
    font-size: 3.5em !important;
    font-weight: normal;
}

h3.ui.title.header {
    font-size: 2em !important;
    font-weight: normal;
}

h4.ui.title.header {
    font-size: 1.5em !important;
    font-weight: normal;
}

.intro {
    margin-top: 0.5em;

    text-align: left;
}

.content > * {
    font-size: 1.1rem !important;
}

:not(.basic).ui.modal > .close {
        top: 1.5rem;
        right: 1.25rem;
        z-index: 10;
        opacity: .6;
        color: #000;
        padding: 0;
}

:not(.basic).ui.modal > .close:hover {
    opacity: 1;
}

.ui.unpadded.segment {
    padding: 0;
}

.ui.attached.label {
    z-index: 5;
    position: relative;
}